<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <form action=<%= session_url %> method='post'>
      <input type="hidden" name="_method" value="delete">
      <%= auth_token %>
      <input type="submit" value="Sign Out">
    </form>
  <% end %>
    <%= yield %>
  </body>
</html>
