<% if action == :show %>
  <a href="<%= users_url %>"> <!-- users_url = "/users" : RAILS auto generated url helper METHOD -->
    Albums Index
  </a>
<% elsif action == :index %>
  <a href="<%= album_url(album) %>">
    <%= album.title %>'s playlist
  </a>
<% end %>

<ul>
  <li><%= albums.title %></li>
  <li><%= album.year %></li>
  <li><%= album_type ? "Studio" : "Live" %></li>
  <li>
    <a href="<%= edit_album_url(album) %>">Edit Album</a>
  </li>
  <li>
    <form action="<%= album_url(album) %>" method="POST" >
      <%= auth_token %>
      <input type="hidden" name="_method" value="DELETE"/>
      <input type="submit" value="Delete Album" />
    </form>
  </li>
</ul>